/*
 * This is where you can make custom styles for the visual
 * aspects of your slideshow.
 *
 * You shouldn't do too much custom sizing here, as it may
 * mess up the automatic sizing algorithm.

dark-mint 68BCB0
mint      86C6BD
off-white FEFAF7
red       FF5D60
warm-grey 847C78
dark-grey 453635

 */
section.TITLE, section.SECTION, section.IMAGE, section.NORMAL, section.QUOTE, section.FREEFORM {
  text-align: center;
}
body {
  background-image: url(/images/background_translucent.png);
  filter:alpha(opacity=50);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-attachment: fixed;
}
body.TITLE {
  background-color: #68BCB0;
  color: #FEFAF7;
}

h1 {
  text-transform: uppercase;
}

body.IMAGE {
  background-color: #FEFAF7;
  background-image: none;
}
body.QUOTE {
  background-color: #453635;
  color: #FEFAF7;
  text-transform: uppercase;
  font-size: 20%;
}
body.SECTION {
  background-color: #68BCB0;
  color: #FEFAF7;
}

body.NORMAL, body.BULLETS {
  background-color: #FEFAF7;
  color: #453635;
}

body.COMMANDLINE {
  background-color: #453635;
}

body.CODE {
  background-image: none;
  background-color: #FEFAF7;
}

section.BULLETS {
  margin-left: 64px;
}
section.BULLETS h1 {
  text-align: center;
}
section.COMMANDLINE code {
  background-color: #453635;
  color: #FEFAF7;
}

section.COMMANDLINE .cli-prompt {
  font-weight: bold;
  color: #FEFAF7;
}

section.COMMANDLINE .cli-command {
  color: #FEFAF7;
}

section.CODE code {
  /*
  border-radius: 30px;
  */
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: 0 0.3em 0.2em -0.2em #ddd7c4;
}
h1, h2, h3, h4 {
  margin: 0;
  font-family: "brandon-grotesque",sans-serif;
  font-weight: 700;
  line-height: 1.4;
}
h2 {
  font-size: 90%;
}
h3 {
  font-size: 80%;
}
p, li, td, th {
  font-family: "brandon-grotesque",sans-serif;
  line-height: 1.2;
}

section.FREEFORM {
  width: 100%;
}
section.FREEFORM table {
  margin: 0 auto;
}
th {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #453635;
  color: #FEFAF7;
  padding: 0.25em;
  border-right: solid thin #453635;
}
th code {
  text-transform: none;
}

tbody th {
  text-align: left;
  white-space: nowrap;
}

tbody tr {
  border-bottom: solid thin #453635;
  padding-top: 1em;
}

td {
  font-weight: 300;
  border-left: solid thin #453635;
  border-right: solid thin #453635;
  padding: 0.5em;
}

li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2em;
}

#timer {
  position: fixed;
  left: 1em;
  bottom: 1em;
  /* uncomment this to remove the timer
  display: none;
  */
}

#timer .seconds {
  /*
  display: none; /* remove this to show seconds elapsing */
  */
}

#timer .hours {
  display: none; /* remove this to show the hours field */
}

#timer a {
  text-decoration: none;
}
#timer #clock, #timer #controls {
  display: inline;
}

#timer #pause {
  letter-spacing: -0.2em;
}

#timer.time-ok {
  background-color: green;
}

#timer.time-warn {
  background-color: yellow;
}

#timer.time-alert {
  background-color: red;
}

#timer.time-over {
  background-color: red;
}
#timer #controls {
  /* Uncomment this if you want to hide the timer controls
  display: none; 
  */
}
